*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merienda', cursive;
}
.navbar
{
    display: flex;
    align-items:center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p
{
    color: #555;
}
.container{
         
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 30px 0;
    padding-right: 100px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25x 0;
}

.btn
{
    display: inline-block;
    background: green;
    color: #fff;
    padding: 8px 30px;
    margin:  30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    
}
.btn:hover{
    background: burlywood;
}
.header{
    background: radial-gradient(rgba(255, 255, 255, 0.76),#f7d6ff);
}
.logo{

    display: inline-block;
    color:darkorange;
    padding: 2px 25px;
    margin: 15px 0;
    border-radius: 360px;
}
.header .row{

    margin-top: 60px;
}
.categories{
    margin: 80px 10;
}

.row1{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px ;
}
.col-3{
    flex-basis: 33%;
    min-width: 25px;
    margin-bottom: 10px;
}
.col-3 img{

    width: 98%;
    height: 150%;

}
.small-container{

    max-width: 1080px;
    margin: auto;
    padding: 50px 50px;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5ms;

}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 5 auto 15%;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';

    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color:black;
    font-weight: normal;
}
.col-4 p{
    font-size: 80%;

}
.reating .fa{
    color: gold;
}
.col-4:hover{
    transform: translateY(-10px);
}
/*----- offer ------*/
.offer{
    background: radial-gradient(rgba(255, 255, 255, 0.76),#f7d6ff);
    margin-top: 30px;
    padding: 30px 0;
    background-size: 80px;

}
.col-2 .offer-img{
    padding: 10%;
}small{
    color: #fff;
}
/*  ---revew--*/
.revew{
    padding: 100px;
}
.revew .col-3{
    text-align: center;
    padding: 50px 5px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    cursor: pointer;
    transition: transform 0.5s;
}
.revew .col-3 img{
    width: 60px;
    margin-top: 20px;
    border-radius: 80px;

}
.revew .col-3:hover{
    transform: translateY(-10px);


}
.fa.fa-quote-left{
    font-size:  20px;
    color:orangered;
}

.col-3 p{
    margin: 12px 0;
    
}
/*   breands  */
.brands{
    
    margin: 60px auto;

}
.col-5 img
{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*----------footer-----------*/
.footer{
    background: black;
    color: #8a8a8a;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2 , .footer-col-3{

    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;

}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 120px;
    color: #fff;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 2px;
    margin: 20px 0;
}
.copyright
{
    text-align: center;
}

.menu-icon{
    width: 30px;
    height: 20px;
    margin-left: 20px;
    display: none;
}
/*           mida qury for menu           */

@media only screen and ( max-width: 800px ){

    nav ul{

        position: absolute;
        top: 70px;
        left: 0;
        background: #334;
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{

        display: block;
        margin-right: 50px;
        margin-top: 10px ;
        margin-bottom: 10px;

    }
    nav ul li a{
        color:white;
        text-align: start;

        

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

.page-btn{
    margin: 0 auto 60px;   
}

.page-btn span{

    display: inline-block;
    border: 2px solid black;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.page-btn span:hover{
    background: rgb(255, 110, 6);
    color: white;
}
 /* single product diteals */

.small-conttainer{

    align-self: center;
} 
.single-product .col-2{
  
   padding: 0%;
}


.single-product .col-2 img{
   
    margin-left: 10%;
    padding:0;

}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 0;
    margin-top: 20px;
   
}    
.single-product input{
    width: 40px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid black;
}
input:focus{
   outline: black;
}    
.single-product .fa{
    color:black;
    margin-left:5px;
}
.small-img-row{
    size: small;
    display: flex;
    
}
.small-img-col{
   
    -ms-flex-line-pack: center;
    flex-basis: 10%;
    cursor: pointer;
    margin-left: 10px;
    margin-left: 6%;
}

/*     cart iteams   */
.cart-page
{   
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: ivory;
    background: darkseagreen;
    font-weight: normal;
    display:-moz-grid-line;
}
tb{
    padding: 10px 5px;
}

td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
     padding:5px;
}
td a{
    color: red;
    font-size: 12px;

}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.cart-container{

    margin-left: 70px;
    margin-right: 50px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{

    border-top: 4px solid green;
    width: 100%;
    max-width: 350px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
    
}

/*   login page/account page */
.account-page{

     padding:50px 100px;
    padding-top: 50px;
    background: radial-gradient(rgba(255, 255, 255, 0.76),#f7d6ff);
    


}
.container{
    background: radial-gradient(rgba(255, 255, 255, 0.76),#f7d6ff);

}
.form-box{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:0 0 20px rgb(255, 110, 6);
    overflow: hidden;
}
.form-box{

    background-image: url("PHOTES/images/category-1.jpg") ;
    background-position: center;
    background-size: 122%;

}
.form-box span{
    font-weight: bold;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-box form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition:transform  1s;
    
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width:100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
#LoginForm{
    left: -300px;
}
#regForm{
    left: 0;
}
form a{
    font-size: 15px;
}
#indicater{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition:transform  1s;

}



/* media query for less then 600 screen size .........*/
@media only screen and ( max-width: 600px ){

    .row{

        text-align: center;

    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 25px;
        line-height: 30px;
    }
    .cart-info p{
        display: none;
    }
}


/*            all productes     */
.row-2{

    justify-content: space-between;
    margin: 100px auto 50px;


}
select
{
    border: 1px solid black;
    padding: 5px;
}


